.header-bar
    width: 1200px
    height: 120px
    ul
        padding: 20px
        display: flex
        height: 40px
        justify-content: space-around
        background-color: #f2f2f2
        border-radius: 40px
        font-size: 20px
        font-weight: 700
        box-shadow: 10px 10px 10px rgba(0,0,0,0.5)
        li
            padding: 5px
            position: relative
            color: #646464
            cursor: pointer
            &::after
                content: ""
                position: absolute
                bottom: 0
                left: 0
                height: 5px
                width: 0
                background-color: #323232
                transition: 0.2s
            &:hover
                color: #323232
                &::after
                    width: 100%
                    transition: 0.5s