.header {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 5%;
  width: 90%;
  padding: 20px 0 20px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 5;
}

a {
  text-decoration: none;
  color: inherit;
}

.header-bar {
  width: 1000px;
}

.header-bar ul {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #f2f2f2;
  border-radius: 40px;
  font-size: 20px;
  font-weight: 700;
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.header-bar ul li {
  padding: 5px;
  position: relative;
  color: #646464;
  cursor: pointer;
}

.header-bar ul li::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5px;
  width: 0;
  background-color: #323232;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.header-bar ul li:hover {
  color: #323232;
}

.header-bar ul li:hover::after {
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.logo {
  width: 300px;
  padding-top: 30px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.logo img {
  cursor: pointer;
}

.header-bar-mobile, .header-bar-mobile-list {
  display: none;
}

.header-bar-mobile img {
  width: 200px;
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-15px);
          transform: translateX(-50%) translateY(-15px);
}

#toggler {
  display: none;
}

#toggler:checked ~ .header {
  height: 100vh;
  -webkit-transition: .5s;
  transition: .5s;
}

#toggler:checked ~ .header .header-bar-mobile .toggle-label .burger-contain span:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 4px;
  -webkit-transition: top .2s ease-in-out,-webkit-transform .2s ease-in-out .2s;
  transition: top .2s ease-in-out,-webkit-transform .2s ease-in-out .2s;
  transition: top .2s ease-in-out,transform .2s ease-in-out .2s;
  transition: top .2s ease-in-out,transform .2s ease-in-out .2s,-webkit-transform .2s ease-in-out .2s;
}

#toggler:checked ~ .header .header-bar-mobile .toggle-label .burger-contain span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -4px;
  -webkit-transition: top .2s ease-in-out,-webkit-transform .2s ease-in-out .2s;
  transition: top .2s ease-in-out,-webkit-transform .2s ease-in-out .2s;
  transition: top .2s ease-in-out,transform .2s ease-in-out .2s;
  transition: top .2s ease-in-out,transform .2s ease-in-out .2s,-webkit-transform .2s ease-in-out .2s;
}

#toggler:checked ~ .header .header-bar-mobile-list {
  display: block;
}

.toggle-label .burger-contain {
  z-index: 4;
  width: 20px;
  height: 20px;
  display: block;
  position: relative;
  top: 16px;
}

.toggle-label .burger-contain:focus {
  outline: none;
}

.toggle-label .burger-contain:active {
  background-color: rgba(0, 0, 0, 0);
}

.toggle-label .burger-contain span {
  display: block;
  height: 2px;
  background: #ffffff;
  position: relative;
  top: 0;
  -webkit-transition: top .2s ease-in-out .2s,-webkit-transform .2s ease-in-out;
  transition: top .2s ease-in-out .2s,-webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out,top .2s ease-in-out .2s;
  transition: transform .2s ease-in-out,top .2s ease-in-out .2s,-webkit-transform .2s ease-in-out;
}

.toggle-label .burger-contain span:nth-child(2) {
  margin-top: 6px;
}

.header-bar-mobile-list {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.header-bar-mobile-list ul {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 50px;
}

.header-bar-mobile-list ul li {
  font-size: 20px;
  font-weight: 700;
  color: #f2f2f2;
  position: relative;
}

.header-bar-mobile-list ul li::before {
  content: "";
  height: 20px;
  width: 2px;
  background-color: #fff;
  top: 4px;
  left: -6px;
  position: absolute;
}

.bottom {
  height: 150px;
  background-color: #929292;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom span {
  color: #f2f2f2;
  font-size: 16px;
}

@media (max-width: 1441px) {
  .header-bar {
    width: 700px;
  }
}

@media (max-width: 944px) {
  .header {
    width: 100%;
    background-color: #929292;
    position: fixed;
    margin: 0;
    padding: 0 0 0 20px;
    height: 40px;
    -webkit-transition: .5s;
    transition: .5s;
    overflow: hidden;
    z-index: 2;
  }
  .header-bar, .logo {
    display: none;
  }
  .header-bar-mobile {
    display: block;
  }
  .bottom {
    height: 100px;
  }
}

html, body {
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

li {
  list-style: none;
}

img {
  width: 100%;
  vertical-align: middle;
}

.first-sec {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.first-sec video {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.header-bar ul li:nth-child(3) {
  color: #323232;
}

.header-bar ul li:nth-child(3)::after {
  width: 100%;
}

.second-sec, .third-sec, .forth-sec {
  text-align: center;
}

.second-sec span, .third-sec span, .forth-sec span {
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 3px;
  line-height: 120px;
  color: #323232;
}

.second-sec img, .third-sec img, .forth-sec img {
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);
}

.forth-sec {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

iframe {
  width: 1920px;
  height: 1080px;
}

@media screen and (max-width: 1921px) {
  iframe {
    width: 1280px;
    height: 720px;
  }
}

@media screen and (max-width: 1281px) {
  iframe {
    width: 560px;
    height: 315px;
  }
}

@media screen and (max-width: 561px) {
  iframe {
    width: 320px;
    height: 180px;
  }
}

@media screen and (max-width: 944px) {
  .first-sec {
    height: auto;
  }
}
/*# sourceMappingURL=toplay.css.map */